In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import imp

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
import sys
sys.path.append("../../../utils/student_caller/")

from caller import StudentCaller

sc = StudentCaller()
sc.set_resource("students", "students-dsi-sf-4.txt")
sc.load_resource("students", randomize=True)

In [3]:
df = pd.read_csv('./combine.csv')

In [4]:
# Check out, describe data, tell class what data is.

In [8]:
df.head(6)

,id,Year,Name,Position,HeightFeet,HeightInches,Weight,Arms,Hands,FortyYD,...,Bench,Round,College,Pick,PickRound,PickTotal,FirstName,LastName,HeightInchesTotal,Wonderlic
0,8984,2013,Quanterus Smith,DE,6,5.0,250,33.25,10.375,0.0,...,0,5,Western Kentucky,13(146),13,146,Quanterus,Smith,77.0,0
1,9002,2013,Abry Jones,DT,6,3.0,313,35.00,9.750,0.0,...,30,0,NaN,NaN,0,0,Abry,Jones,75.0,0
2,9004,2013,Bennie Logan,DT,6,2.0,309,34.00,10.250,0.0,...,30,3,LSU,5(67),5,67,Bennie,Logan,74.0,0
3,9012,2013,John Boyett,FS,5,10.0,204,30.50,8.500,0.0,...,27,6,Oregon,24(192),24,192,John,Boyett,70.0,0
4,9018,2013,Bacarri Rambo,FS,6,0.0,211,31.00,9.250,0.0,...,17,6,Georgia,23(191),23,191,Bacarri,Rambo,72.0,0
5,9028,2013,Michael Mauti,ILB,6,2.0,243,32.50,10.500,0.0,...,28,7,Penn State,7(213),7,213,Michael,Mauti,74.0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 26 columns):
id                   4625 non-null int64
Year                 4625 non-null int64
Name                 4625 non-null object
Position             4625 non-null object
HeightFeet           4625 non-null int64
HeightInches         4625 non-null float64
Weight               4625 non-null int64
Arms                 4625 non-null float64
Hands                4625 non-null float64
FortyYD              4625 non-null float64
TwentyYD             4625 non-null float64
TenYD                4625 non-null float64
TwentySS             4625 non-null float64
ThreeCone            4625 non-null float64
Vertical             4625 non-null float64
Broad                4625 non-null int64
Bench                4625 non-null int64
Round                4625 non-null int64
College              3155 non-null object
Pick                 3156 non-null object
PickRound            4625 non-null int64
PickTotal            4625 non-null int64
FirstName            4625 non-null object
LastName             4625 non-null object
HeightInchesTotal    4625 non-null float64
Wonderlic            4625 non-null int64
dtypes: float64(10), int64(10), object(6)
memory usage: 939.5+ KB

In [7]:
df.describe()

,id,Year,HeightFeet,HeightInches,Weight,Arms,Hands,FortyYD,TwentyYD,TenYD,TwentySS,ThreeCone,Vertical,Broad,Bench,Round,PickRound,PickTotal,HeightInchesTotal,Wonderlic
count,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000
mean,11371.059459,2006.584432,5.804541,4.391459,245.638054,8.172169,2.409243,4.662009,0.078867,0.138141,3.313403,1.282166,28.926811,96.427892,15.838270,2.405838,11.313946,71.261405,74.045946,1.224216
std,1523.180179,4.737971,0.396597,3.276100,45.617970,14.120348,4.164665,0.848535,0.446677,0.450521,1.899765,2.752915,11.346215,41.244566,10.824339,2.463015,12.356023,79.372799,2.610101,5.704603
min,8962.000000,1999.000000,5.000000,0.000000,155.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000,0.000000
25%,10118.000000,2002.000000,6.000000,2.000000,208.000000,0.000000,0.000000,4.540000,0.000000,0.000000,3.880000,0.000000,28.000000,101.000000,0.000000,0.000000,0.000000,0.000000,73.000000,0.000000
50%,11274.000000,2007.000000,6.000000,4.000000,237.000000,0.000000,0.000000,4.700000,0.000000,0.000000,4.240000,0.000000,32.500000,112.000000,18.000000,2.000000,7.000000,41.000000,74.000000,0.000000
75%,12430.000000,2011.000000,6.000000,6.000000,289.000000,28.750000,8.250000,5.000000,0.000000,0.000000,4.470000,0.000000,35.500000,119.000000,24.000000,4.000000,21.000000,133.000000,76.000000,0.000000
max,14926.000000,2014.000000,6.000000,11.875000,386.000000,37.750000,11.375000,6.050000,2.980000,1.920000,5.560000,8.310000,46.000000,139.000000,51.000000,7.000000,53.000000,262.000000,82.000000,48.000000

In [9]:
# Average weight, height (total) , and bench press per position

In [16]:
df['total_hight'] = df.HeightFeet*12+df.HeightInches
df.groupby('Position')[['Weight','total_hight','Bench']].mean()

              Weight  total_hight      Bench
Position
C         307.166667    75.416667  23.000000
CB        192.622271    71.244814  11.912664
DE        267.931122    75.844388  20.045918
DT        305.223496    75.088825  23.730659
FB        245.060606    72.858586  19.888889
FS        204.862944    72.807107  14.340102
ILB       242.377358    73.632075  19.047170
K         187.250000    71.750000   0.000000
LS        258.000000    75.000000   0.000000
NT        323.250000    73.500000  21.750000
OC        302.515152    75.333333  24.098485
OG        314.454545    76.084416  22.051948
OLB       240.002967    73.931751  19.459941
OT        316.707317    77.718157  21.002710
P         219.800000    75.400000   4.600000
QB        222.245675    74.912197   0.937716
RB        213.372038    70.769254  16.014218
SS        210.801136    72.352273  15.204545
TE        255.022059    76.371324  17.878676
WR        200.930153    72.911627   6.114140

In [18]:
# By year, find the fastest (10yd) and heaviest player (include names, position, and total pick num)

In [29]:
df.head(3)

,id,Year,Name,Position,HeightFeet,HeightInches,Weight,Arms,Hands,FortyYD,...,Round,College,Pick,PickRound,PickTotal,FirstName,LastName,HeightInchesTotal,Wonderlic,total_hight
0,8984,2013,Quanterus Smith,DE,6,5.0,250,33.25,10.375,0.0,...,5,Western Kentucky,13(146),13,146,Quanterus,Smith,77.0,0,77.0
1,9002,2013,Abry Jones,DT,6,3.0,313,35.00,9.750,0.0,...,0,NaN,NaN,0,0,Abry,Jones,75.0,0,75.0
2,9004,2013,Bennie Logan,DT,6,2.0,309,34.00,10.250,0.0,...,3,LSU,5(67),5,67,Bennie,Logan,74.0,0,74.0

In [78]:
# df.groupby('Year').agg({'TenYD':np.min, 'Weight':np.max})
# [['Name', 'Position', 'PickTotal']]

has_weight = df.Weight > 0
has_yd = df.TenYD > 0


def max_weight(subdf):
    subdf = subdf.sort_values('Weight', ascending=False)
    return subdf.iloc[0,:]

def min_speed(subdf):
    subdf = subdf.sort_values('TenYD', ascending=True)
    return subdf.iloc[0,:]

weights = df[df.Weight > 0].groupby('Year').apply(max_weight).reset_index(drop=True)
speeds = df[df.TenYD > 0].groupby('Year').apply(min_speed).reset_index(drop=True)

combined = pd.concat([weights, speeds], axis=0)[['Year','Position','Name','TenYD','Weight','PickTotal']]

In [79]:
combined.sort_values('Year')

    Year Position              Name  TenYD  Weight  PickTotal
0   1999       OT      Aaron Gibson   0.00     386         27
0   1999       WR   Rondel Menendez   1.47     178        247
1   2000       OT  Stockar McDougle   0.00     361         20
1   2000       WR        Chris Cole   1.48     191         70
2   2001       OT     Leonard Davis   0.00     370          2
2   2001       WR   Jonathan Carter   1.55     180        162
3   2002       OT     Mike Williams   0.00     375          4
3   2002       WR      Javon Walker   1.53     210         20
4   2003       OT   Kareem Marshall   0.00     359          0
4   2003       WR    Bethel Johnson   1.55     201         45
5   2004       WR    Devard Darling   1.59     212         82
5   2004       OT     Shawn Andrews   0.00     366         16
6   2005       WR      Mark Clayton   1.53     193         22
6   2005       OG    Chris Kemoeatu   0.00     344        204
7   2006       WR     Sinorice Moss   1.48     185         44
7   2006       OG   Max Jean-Gilles   0.00     355         99
8   2007       WR   Aundrae Allison   1.43     198        146
8   2007       DT       Paul Soliai   0.00     344        108
9   2008       RB    Danny Woodhead   1.44     197          0
9   2008       DT        Frank Okam   0.00     347        151
10  2009       WR      Mike Wallace   1.43     199         84
10  2009       OG    Herman Johnson   0.00     356        167
11  2010       WR        Dez Bryant   1.40     225         24
11  2010       DT     Terrence Cody   0.00     349         57
12  2011       WR       Julio Jones   1.50     220          6
12  2011       OG      Carl Johnson   0.00     361          0
13  2012       WR      DeVier Posey   1.45     211         68
13  2012       DT       Dontari Poe   0.00     346         11
14  2013       WR  Marquise Goodwin   1.43     183         78
14  2013       DT       T.J. Barnes   1.88     369          0
15  2014       DT  Daniel McCullers   0.00     352          0

In [21]:
sc.get_student()

'jyotsna'