In [4]:

import pandas as pd

projectid = "big-query-dsi-ty" # Update this to your project name that you created prior
df = pd.read_gbq('SELECT * FROM [bigquery-public-data:hacker_news.comments] LIMIT 100', project_id = projectid)
df

Requesting query... ok.
Query running...
Query done.
Processed: 3.4 Gb

Retrieving results...
Got 100 rows.

Total time taken 1.88 s.
Finished at 2016-12-06 11:29:05.

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,7795573,None,None,1400995838,2014-05-25 05:30:38,None,7794311,True,None,0
1,6844262,None,None,1386117477,2013-12-04 00:37:57,None,6843931,True,None,0
2,10209047,None,None,1442086567,2015-09-12 19:36:07,None,10209030,True,None,0
3,8807944,None,None,1419810584,2014-12-28 23:49:44,None,8807871,True,None,0
4,7577880,None,None,1397311999,2014-04-12 14:13:19,None,7577823,True,None,0
5,3908106,None,None,1335762526,2012-04-30 05:08:46,None,3908027,True,None,0
6,1773169,None,None,1286568824,2010-10-08 20:13:44,None,1773162,True,None,0
7,5578964,None,None,1366409611,2013-04-19 22:13:31,None,5578883,True,None,0
8,3383568,None,None,1324592403,2011-12-22 22:20:03,None,3383219,True,None,0
9,7290067,None,None,1393238127,2014-02-24 10:35:27,None,7288744,True,None,0
10,9926760,None,None,1437522763,2015-07-21 23:52:43,None,9926745,True,None,0
11,1824384,None,None,1287868623,2010-10-23 21:17:03,None,1824190,True,None,0
12,981636,None,None,1260208842,2009-12-07 18:00:42,None,981571,True,None,0
13,3387275,None,None,1324674671,2011-12-23 21:11:11,None,3385666,True,None,0
14,7980563,None,None,1404344403,2014-07-02 23:40:03,None,7978372,True,None,0
15,2654116,None,None,1308076231,2011-06-14 18:30:31,None,2653893,True,None,0
16,10331515,None,None,1444050280,2015-10-05 13:04:40,None,10330464,True,None,0
17,8941292,None,None,1422138700,2015-01-24 22:31:40,None,8940484,True,None,0
18,4788685,None,None,1352990311,2012-11-15 14:38:31,None,4788562,True,None,0
19,1888419,None,None,1289345552,2010-11-09 23:32:32,None,1888409,True,None,0
20,7479262,None,None,1395910614,2014-03-27 08:56:54,None,7479239,True,None,0
21,5720980,None,None,1368736478,2013-05-16 20:34:38,None,5720447,True,None,0
22,4052297,None,None,1338533642,2012-06-01 06:54:02,None,4052228,True,None,0
23,8929078,None,None,1421934535,2015-01-22 13:48:55,None,8928694,True,None,0
24,9136687,None,None,1425371917,2015-03-03 08:38:37,None,9130045,True,None,0
25,3249803,None,None,1321573872,2011-11-17 23:51:12,None,3249749,True,None,0
26,821844,None,None,1252942290,2009-09-14 15:31:30,None,821536,True,None,0
27,9357346,None,None,1428703245,2015-04-10 22:00:45,None,9354862,True,None,0
28,7606207,None,None,1397767561,2014-04-17 20:46:01,None,7604586,True,None,0
29,9436871,None,None,1429927029,2015-04-25 01:57:09,None,9436867,True,None,0
...,...,...,...,...,...,...,...,...,...,...
70,2151689,None,None,1296221134,2011-01-28 13:25:34,None,2151406,True,None,0
71,4768295,None,None,1352594080,2012-11-11 00:34:40,None,4768220,True,None,0
72,8945083,None,None,1422235359,2015-01-26 01:22:39,None,8944910,True,None,0
73,8885079,None,None,1421225912,2015-01-14 08:58:32,None,8885047,True,None,0
74,1497751,None,None,1278604717,2010-07-08 15:58:37,None,1497074,True,None,0
75,4663263,None,None,1350451738,2012-10-17 05:28:58,None,4663232,True,None,0
76,8025489,None,None,1405192261,2014-07-12 19:11:01,None,8025439,True,None,0
77,7386351,None,None,1394639709,2014-03-12 15:55:09,None,7386099,True,None,0
78,9092463,None,None,1424664147,2015-02-23 04:02:27,None,9091638,True,None,0
79,4698139,None,None,1351181609,2012-10-25 16:13:29,None,4697938,True,None,0
80,164147,None,None,1208271700,2008-04-15 15:01:40,None,164134,True,None,0
81,2291570,None,None,1299337843,2011-03-05 15:10:43,None,2291129,True,None,0
82,2269109,None,None,1298843960,2011-02-27 21:59:20,None,2268923,True,None,0
83,2955327,None,None,1314992380,2011-09-02 19:39:40,None,2955314,True,None,0
84,6975735,None,None,1388256361,2013-12-28 18:46:01,None,6975627,True,None,0
85,6655529,None,None,1383332488,2013-11-01 19:01:28,None,6655164,True,None,0
86,2546527,None,None,1305327083,2011-05-13 22:51:23,None,2546381,True,None,0
87,5562878,None,None,1366177435,2013-04-17 05:43:55,None,5562165,True,None,0
88,2926947,None,None,1314319642,2011-08-26 00:47:22,None,2926792,True,None,0
89,7189234,None,None,1391673339,2014-02-06 07:55:39,None,7188962,True,None,0
90,10204144,None,None,1441984765,2015-09-11 15:19:25,None,10203435,True,None,0
91,3784942,None,None,1333315078,2012-04-01 21:17:58,None,3783718,True,None,0
92,5482612,None,None,1364941607,2013-04-02 22:26:47,None,5482414,True,None,0
93,8492033,None,None,1413970918,2014-10-22 09:41:58,None,8491995,True,None,0
94,6677646,None,None,1383680785,2013-11-05 19:46:25,None,6673769,True,None,0
95,4848728,None,None,1354208500,2012-11-29 17:01:40,None,4848663,True,None,0
96,9241525,None,None,1426900279,2015-03-21 01:11:19,None,9241135,True,None,0
97,5168935,None,None,1360036610,2013-02-05 03:56:50,None,5168623,True,None,0
98,7820224,None,None,1401422889,2014-05-30 04:08:09,None,7817421,True,None,0
99,6277322,None,None,1377527951,2013-08-26 14:39:11,None,6277299,True,None,0